header {
  padding: 10px;
  text-align: center;
  background-color: #635985;
}

.title {
  text-decoration: none;
  color: inherit;
}

main {
  flex: 1;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 20px;
}

footer {
  padding: 10px;
  text-align: center;
  background-color: #635985;
}

.loadingIndicator {
  text-align: center;
}
