* {
  outline: 1px solid red;
}

header {
  padding: 10px;
  text-align: center;
  background-color: #635985;
}

header h1 {
  font-size: 2rem;
}

main {
  flex: 1;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 20px;
}

footer {
  padding: 10px;
  text-align: center;
  font-size: 1.1rem;
  background-color: #635985;
}

.loadingIndicator {
  font-size: 1.6rem;
  text-align: center;
}
